.DS_Store
__pycache__
epoch_best.pth
acc.csv
/TinySOL
/OrchDB
/OrchDB_ord
/new_OrchDB_ord
/StaticSOL_0.6
/model
/data
/exp
/exp_pre
/other
/.vscode
/source_separation/trained_TDCNNpp
/source_separation/targets
/source_separation/subtargets
.DS_Store
*.th
*.gz


paper.aux
paper.bbl
paper.blg
paper.log
paper.out
paper.pdf
paper.synctex.gz

